* {
    background-color: #696969;
}

.main {
    text-align: center;
}

.tituloHome {
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 55px;
}

.resumo {
    text-align: center;
}

.tituloResumo {
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
}

.paragrafoResumo {
    color: white;
    margin-bottom: 50px;
    font-size: 20px;
    max-width: 50%;
    text-align: center;
    margin: auto;
}

.linkJogo {
    color: white;
    background-color: green;
    text-decoration: none;
    font-size: 50px;
    border: solid 3px;
    padding: 50px 20%;
    position: relative;
    top: 100px;
}

.tituloJogo {
    text-align: center;
    font-size: 60px;
    color: white;
}

.vencedor{
    text-align: center;
    font-size: 30px;
}

.containerJogo {
    margin-top: 30px;
    width: 98vw;
    height: 65vh;
    padding: 10px;
}

.jogar {
    position: absolute;
    top: 500px;
    left: 800px;
    height: 100px;
    width: 300px;
    font-size: 20px;
    color: white;
    background-color: orange;
}

.escolhaInimigo,
.escolhaJogador{
    display: flex;
    margin-right: -65%;
    width: 50%;
}

.resultado {
    font-size: 40px;
    color: white;
    position: relative;
    left: 780px;
    top: 30px;
    width: 30vw;
    text-align: center;
}

.limpar {
    width: 200px;
    height: 45px;
    position: relative;
    top: 95px;
    left: 1500px;
    background-color: rgb(156, 31, 31);
    color: white;
    font-style: unset;
}

.escolhaJogador img,
.escolhaInimigo img {
    max-width: 200px;
    opacity: 0.3;
    cursor: pointer;
}

.linkHome {
    color: white;
    background-color: green;
    text-decoration: none;
    border: solid 3px;
    padding: 10px;
    position: relative;
    top: 50px;
}